.fadeIn {
    animation: fadeInAnimation 0.5s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {
    --toastify-color-light: rgba(255, 255, 255, 0);
}

.Toastify__toast {
    padding: 0;
    margin-bottom: 0;
    box-shadow: none;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}